*{
	margin: 0;
	padding: 0;
	
}

body {
	font-family: arial;
	font-size: 15px;
	line-height: 1.5em;
	background: #f4f4f4;  /*grey*/
}
#container {
	background: #333333;  /*dark grey*/
	margin: 50px auto;
	overflow: auto;
	width: 60%;
	min-height: 400px;
	border-radius: 8px;
}

header h1 {
	text-align: center;
	color: #ffffff;		/*white*/
	font-size: 22px;
	padding: 15px 0 10px 10px;
	border-bottom: 1px solid #ffffff;
}

#shouts {
	width: 90%;
	background: #f4f4f4;
	height: 270px;
	margin: 20px auto;
	border-radius: 3px;
	overflow: auto;	/*NOT hidden: 
					* otherwise once the shouts break out of that div 
					* you wont be able to get to them, 
					* you wont have scroll bar
					*/
}

.shout {
	list-style: none;
	padding: 8px; 
	border-bottom: 1px #cccccc dotted;		/*grey*/
}

.shout span {
	color: #aaaaaa;	/*grey*/
}

#input {
	width: 90%;
	min-height: 80px;
	margin: auto;
	padding: 0;
}

input {
	border-radius: 8px;
}

#input input[type="text"] {	/*cause we dont need button here*/
	height: 25px;
	width: 48%;
	padding: 3px;
	margin-bottom: 20px;
	border: #666666 solid 1px;		/*dark grey*/
}

#input .shout-btn {
	padding: 5px;
	width: 100%;
	margin: 10px auto 65px;
	border: none;
}
#input .shout-btn:hover {
	background: #D8D8D8;
}
#error {
	background: red;
	color: #ffffff;
	padding: 5px;
	margin-bottom: 20px;
	border-radius: 2px;
}

::-webkit-scrollbar {
    width: 8px;
	
}
 
::-webkit-scrollbar-track {
    border-radius: 8px;
	margin-top: 2px;
	padding-bottom: 2px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 8px;
	background: #aaaaaa;

}

@media only screen and (max-width: 768px) {
	#input input[type="text"]{
		width: 98%;
	}
}